.outer-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    max-width: 545px;
    height: 60vh;
    max-height: 545px;
    transform: translate(-50%, -50%);  
}

.entries {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFBF3;
    border-radius: 6px;
}

.entries a {
    color: gray;
    padding-top: 5px;
    padding: 10px;
}

.entries input {
    margin: 3px;
    width: 378px;
    height: 45px;
    line-height: 21px;
    padding: 0 24px;
}

.entries button {
    box-sizing: border-box;
    width: 378px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: bold;
    margin: 5px;
}

.entries img {
    width: 85%;
    height: 85%;
}

.send {
    background: #FF5C5C;
    border: 2px solid #FF5C5C;
}

.send:hover {
    border: 2px solid #D22D2D;
    filter: brightness(75%);
    transition: filter 0.3s;
}

.login-link:hover {
    opacity: 0.7;
}

.login-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.3s;
    position: absolute;
    padding: 10px;
}

