.outer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 896px;
    height: 80vh;
    max-height: 688px;
    transform: translate(-50%, -50%);
}

.login-container {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFBF3;
    border-radius: 6px;
}

.redirect-link {
    display: inline-block;
    margin-top: 10px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
}

.hyper-links {
    padding-top: 10px;
    padding-left: 80px;
    align-items: center;
    justify-content: center;
    display: block;
}

.redirect-link:hover {
    opacity: 0.8;
}

.outer-container .login-container form input, form select {
    margin: 8px;
    width: 378px;
    height: 45px;
    line-height: 21px;
    padding: 0 24px;
    font: 400 16px Roboto, sans-serif;
}

.outer-container .login-container section {
    width: 100%;
    max-width: 500px;
}

.outer-container .login-container h1 {
    margin: 32px 12px 32px;
    font-size: 28px;
    color: gray;
}

.outer-container .login-container img {
    height: 80%;
    width: 80%;
}

.loginButton {
    background: #FF5C5C;
    border: 2px solid #FF5C5C;
    display: inline-block;
    width: 378px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: bold;
}

.loginButton:hover {
    border: 2px solid #D22D2D;
    filter: brightness(75%);
    transition: filter 0.3s;
}

.outer-container .phrases {
    display: table-cell;
    align-items: center;
    justify-content: center;
}

#text1 {
    color: #958080;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}

#text2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858585;
}