.new-record {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 1120px;
    height: 80vh;
    max-height: 860px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
    border-radius: 6px;
}

.new-record .content {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFBF3;
    border-radius: 6px;
}

.new-record .content section {
    width: 100%;
    max-width: 500px;
}

.new-record .content a {
    color: gray;
    font: 400 18px Roboto, sans-serif;
    margin: 6px;
}

.new-record .content section h1 {
    margin: 28px;
    font-size: 32px;
    color: gray;
}

.new-record .content form {
    width: 100%;
    max-width: 378px;
}

.new-record .content form label, img {
    color: gray;
    font: 400 18px Roboto, sans-serif;
    margin: 6px;
} 

.new-record .content form input, select, textarea {
    margin: 3px;
    width: 378px;
    height: 45px;
    line-height: 21px;
    padding: 0 24px;
}

.new-record .content .img-group {
    display: flex;
}

input[type='file'] {
    color: transparent;
}

.new-record .content .img-group img {
    max-width: 15;
    max-height: 15;
    width: 50%;
    height: 50%;
}

.button {
    background: #FF5C5C;
    border: 2px solid #FF5C5C;
    box-sizing: border-box;
    width: 378px;
    height: 45px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: bold;
    
    margin: 3px;
}

.button:hover {
    border: 2px solid #D22D2D;
    filter: brightness(75%);
    transition: filter 0.3s;
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: gray;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.3s;
    padding-bottom: 10px;
    position: absolute;
    margin: 3px;
}

.back-link:hover {
    opacity: 0.8;
}

img {
    height: 80%;
    width: 80%;
}

.file-input {
    color: gray;
    font: 400 18px Roboto, sans-serif;
    border: none;
}

