.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 1120px;
    height: 80vh;
    max-height: 860px;
    transform: translate(-50%, -50%);
    background: #FFFBF3;
    border-radius: 6px;
}

.box-container .content {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFBF3;
    border-radius: 6px;
}

.box-container .column1 select, input, label, a {
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 0 24px;
    margin: 1%;
    font: 400 16px Roboto, sans-serif;
}

.box-container .column1 a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

.box-container .column2 select, input, label, a, .buttonQ {
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 0 24px;
    margin: 1%;
    font: 400 16px Roboto, sans-serif;
}

.box-container .column2 a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

.box-container h2 {
    margin: 1%;
    max-width: 400px;
    padding-left: 50px;
    padding-top: 40px;
}

.buttonQ {
    background: #FF5C5C;
    border: 2px solid #FF5C5C;
    box-sizing: border-box;
    width: 400px;
    height: 45px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    color: white;
    font-weight: bold;
    position: absolute;
    padding: 1%;
}

.buttonQ:hover {
    border: 2px solid #D22D2D;
    filter: brightness(75%);
    transition: filter 0.3s;
}

input[type="range"]::-moz-range-thumb {
    height: 25px;
    width: 15px;
    background: #FF802E;
}

input[type="date"] {
    color: rgb(129, 128, 128);
    height: 45px;
}